{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row clearfix">
            <form id="form-submitsql" action="/autoreview/" method="post" class="form-horizontal" role="form">
                {% csrf_token %}
                <input type="hidden" id="workflowid" name="workflowid"/>
                <div class="col-md-9 column">
                    <pre id="sql_content_editor" style="min-height:400px"></pre>
                </div>
                <div style="display: none" class="col-md-8 column">
                    <textarea id="sql_content" name="sql_content" class="form-control" data-name="SQL内容"
                              placeholder="请在此提交SQL，请以分号结尾。例如：use test; create table t1(id int)engine=innodb;" rows=20
                              required></textarea>
                </div>

                <div class="col-md-3 column">
                    <div class="form-group">
                        <input id="sql-upload" name="sql-upload" accept=".sql" type="file" class="file-loading">
                    </div>
                    <div class="form-group">
                        <select id="db_name" name="db_name"
                                class="selectpicker show-tick form-control bs-select-hidden" data-name="数据库"
                                data-live-search="true" data-placeholder="连接实例:" required>
                            <option vault="is-empty"  selected="selected">库</option>
                            {% for dbs in dictAllClusterDb %}
                                <option value="is-empty"  >{{ dbs }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <input id="btn-format" type="button" class="btn btn-info" value="美化"/>
                        <input type="button" id="btn-autoreview" class="btn btn-danger" value="SQL检测"/>
                        {#                        <button type="reset" id="btn-reset" class="btn btn-warning">清空选项</button>#}
                        <input id="btn-submitsql" type="button" class="btn btn-success" value="SQL提交"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}


